:root {
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;

  /*colors*/

  /*font-size*/
  /* Step -1: 14.2222px → 20px */
  --step--1: clamp(0.8889rem, 0.731rem + 0.6919vw, 1.25rem);
  /* Step 0: 16px → 24px */
  --step-0: clamp(1rem, 0.7814rem + 0.9581vw, 1.5rem);
  /* Step 1: 18px → 28.8px */
  --step-1: clamp(1.125rem, 0.8299rem + 1.2934vw, 1.8rem);
  /* Step 2: 20.25px → 34.56px */
  --step-2: clamp(1.2656rem, 0.8747rem + 1.7138vw, 2.16rem);
  /* Step 3: 22.7813px → 41.472px */
  --step-3: clamp(1.4238rem, 0.9132rem + 2.2384vw, 2.592rem);
  /* Step 4: 25.6289px → 49.7664px */
  --step-4: clamp(1.6018rem, 0.9424rem + 2.8907vw, 3.1104rem);
  /* Step 5: 28.8325px → 59.7197px */
  --step-5: clamp(1.802rem, 0.9582rem + 3.6991vw, 3.7325rem);

  /*LineHeight*/
  --body-lineHeight: 1.7;
  --heading-lineHeight: 1.1;
  --heading-lineHeight-s: 1.25;

  /*line spacing*/
  /* Space 3xs: 4px → 6px */
  --space-3xs: clamp(0.25rem, 0.1954rem + 0.2395vw, 0.375rem);
  /* Space 2xs: 8px → 12px */
  --space-2xs: clamp(0.5rem, 0.3907rem + 0.479vw, 0.75rem);
  /* Space xs: 12px → 18px */
  --space-xs: clamp(0.75rem, 0.5861rem + 0.7186vw, 1.125rem);
  /* Space s: 16px → 24px */
  --space-s: clamp(1rem, 0.7814rem + 0.9581vw, 1.5rem);
  /* Space m: 24px → 36px */
  --space-m: clamp(1.5rem, 1.1722rem + 1.4371vw, 2.25rem);
  /* Space l: 32px → 48px */
  --space-l: clamp(2rem, 1.5629rem + 1.9162vw, 3rem);
  /* Space xl: 48px → 72px */
  --space-xl: clamp(3rem, 2.3443rem + 2.8743vw, 4.5rem);
  /* Space 2xl: 64px → 96px */
  --space-2xl: clamp(4rem, 3.1257rem + 3.8323vw, 6rem);
  /* Space 3xl: 96px → 144px */
  --space-3xl: clamp(6rem, 4.6886rem + 5.7485vw, 9rem);

  --default-spacing: var(--space-2xs);
}

body {
  font-family: system-ui, sans-serif;
  /* background-color: var(--_c, var(--gray-100)); */
  --_c: oklch(from var(--gray-100) calc(l - 0.1) c h);
  color: var(--_c-2, var(--gray-600));
  --_c-2: oklch(from var(--gray-600) calc(l - 0.7) c h);
}

article {
  font-size: var(--step-0);
  max-width: 65ch;
  margin-inline: auto;
  > * + * {
    margin-block-start: var(--default-spacing);
  }
  h1 {
    font-size: var(--step-5);
  }
  h2 {
    font-size: var(--step-4);
    --default-spacing: var(--space-2xl);
  }

  h2:has(+ h3) {
    margin-block-end: var(--space-2xs);
    /* color: purple; */
  }
  /*Her vælges h3 som ikke er den første h3, men nr to h3*/
  h3:not(:first-of-type):nth-of-type(2) {
    --default-spacing: var(--space-2xs);
    /* color: yellow; */
  }
  h3 {
    /* color: lightsalmon; */
    font-size: var(--step-3);
    --default-spacing: var(--space-l);
  }

  h4 {
    font-size: var(--step-2);
    --default-spacing: var(--space-m);
  }
  h3,
  h4 {
    line-height: var(--heading-lineHeight-s);
  }
  .text-lead {
    --default-spacing: var(--space-s);
    font-size: var(--step-1);
  }
  /*giv en mere pop farve*/
  .text-lead:is(p) {
    color: oklch(from red calc(l + 0.1) c h);
  }
  .text-small {
    font-size: var(--step--1);
  }

  p {
    line-height: var(--body-lineHeight);

    /*Når der er to <p> efter hinanden*/
    & + & {
      --default-spacing: var(--space-xs);
    }
    /*når et <p> kommer efter et andet element som ikke er <p>*/
    *:not(&) + & {
      /* color: orange; */
      --default-spacing: var(--space-2xs);
    }
  }

  p:nth-of-type(10) {
    --default-spacing: var(--space-3xs);
  }
  p:nth-of-type(13) {
    --default-spacing: var(--space-3xs);
  }

  /*ER lidt i tvivl om om hvad * selector?  */
  figure {
    --default-spacing: var(--space-xs);
  }

  figcaption {
    font-size: var(--step--1);
    margin-block-start: var(--space-2xs);
    color: oklch(from var(--gray-800) calc(l + 0.3) c h);
  }
  p code {
    font-weight: bold;
  }
}
